.Checkout {
    background-color: white;
}

.Checkout-container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
    text-decoration: none;
}

.noDecor {
    text-decoration: none;
    color: black;
}

.Checkout-section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.Checkout-title {
    flex: 0.3;
}

.Checkout-address,
.Checkout-items,
.Checkout-payment {
    flex: 0.7;
}
