.CartProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CartProduct-info {
    padding-left: 20px;
    padding-right: 20px;
}

.CartProduct-button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.CartProduct-button:hover {
    cursor: pointer;
}

.CartProduct-image {
    object-fit: contain;
    min-width: 180px;
    height: 180px;
}

.CartProduct-rating {
    display: flex;
}

.CartProduct-title {
    font-size: 17px;
    font-weight: 800;
}
